.hero {
    background-color: yellow;
    .hero-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        .hero-title {
            font-size: 1em;
        }
    }
}

.about {
    background-color: greenyellow;
    .about-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;

    }
}

.our-work {
    background-color: yellow;
    .our-work-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;

    }
}